<!DOCTYPE html>
<html>
<head>
    <title>КРАСНОЕ ЯБЛОКО | Студия о которой ты мечтала</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="shortcut icon" href="http://smartacademy.kz/favicon.ico" type="image/x-icon">-->
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.0/aos.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="desktop-version d-md-block d-none">
    <div data-paroller-factor="0.4" class=" main-section d-flex flex-column align-items-center w-100">
        <div class="header d-flex w-100 justify-content-center w-100">
            <div class="left-side d-flex justify-content-center mt-5">
                <a href="#about-us">О нас</a>
                <a class="" href="#services">Услуги</a>
                <a href="#instagram">Instagram</a>
            </div>
            <div class="center-logo d-flex flex-column justify-content-center align-items-center">
                <p class="mb-0 ml-5">концептуальная сеть</p>
                <img class="mr-4" src="images/logo.png" alt="">
                <p class="mb-0 ml-5">Московских студий красоты</p>
            </div>
            <div class="right-side d-flex mt-5">
                <a href="#contacts">Контакты</a>
                <a class="call-me d-flex ml-1" href="">
                    <img src="images/call-icon.png" alt="">
                    <p class="mb-0 ml-3">Он-лайн запись</p>
                </a>
                <a class="top-icons ml-4 mt-1" href=""><img src="images/whatsapp-icon.png" alt=""></a>
                <a class="top-icons ml-2 mt-1" href=""><img src="images/sms-icon.png" alt=""></a>
            </div>
        </div>
        <div class="text-middle d-flex flex-column justify-content-between mb-3">
            <h4 class="">Студия</h4>
            <p class="d-flex align-items-center text-uppercase align-self-end">о которой <br> ты мечтала <img
                    src="images/small-leaf.png" alt=""></p>

        </div>
        <div class="text-bottom mt-5 ml-5">
            <img src="images/main-section-text%20.png" alt="">
        </div>
        <div data-paroller-factor="0.3" class="moving-objects move-sth"></div>
        <div data-paroller-factor="0.5" class="moving-objects move-sth-2"></div>
        <div data-paroller-factor="-0.4" data-paroller-direction="vertical" class="moving-objects move-sth-3"></div>
    </div>

    <div data-paroller-factor="0.7" class="about-us d-flex flex-column" id="about-us">
        <div data-aos="fade-up-right" class="quotes">
            <h3  class="mt-5 mr-5 mb-4">О нас</h3>
            <h4 class="text-white text-uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing</h4>
            <p class="text-white">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            <img class="quote-up" src="images/quote-up.png" alt="">
            <img class="quote-down" src="images/quote-down.png" alt="">
        </div>
        <img data-aos="fade-up-left" class="photo-gallery" src="images/about-us-photos.png" alt="">
        <div data-paroller-factor="0.5" class="moving-objects move-sth"></div>
        <div data-paroller-factor="-0.5" class="moving-objects move-sth-2"></div>
    </div>

    <div class="services-menu d-flex flex-column align-items-center" id="services">
        <h3 data-aos="flip-left" class="my-5">Меню услуг</h3>
        <div data-aos="flip-down" class="services d-flex my-4">
            <div class="service d-flex flex-column align-items-center  mr-4">
                <img class="mb-3" src="images/pic1.png" alt="">
                <p class="text-white text-center">Маникюр</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic2.png" alt="">
                <p class="text-white text-center">Педикюр</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic3.png" alt="">
                <p class="text-white text-center">Стрижки, укладки,
                    уход</p>
            </div>
            <div class="service arrow-service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic4.png" alt="">
                <p class="text-white text-center">Окрашивание
                    волос</p>
                <img class="arrow-icon" src="images/arrow.png" alt="">
            </div>
        </div>

        <div data-aos="flip-down" class="services d-flex  mb-4">
            <div class="service d-flex flex-column align-items-center mr-4">
                <img class="mb-3" src="images/pic5.png" alt="">
                <p class="text-white text-center">Макияж, брови,
                    ресницы</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic6.png" alt="">
                <p class="text-white text-center">Мужской зал</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic7.png" alt="">
                <p class="text-white text-center">Детский зал</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic8.png" alt="">
                <p class="text-white text-center">Депиляция</p>
            </div>
        </div>

        <div data-aos="zoom-in" class="online-register d-flex mt-5 align-items-center">
            <a class="call-me d-flex ml-1" href="">
                Он-лайн запись
            </a>
            <a class="top-icons ml-4 mt-1" href=""><img src="images/whatsapp-icon.png" alt=""></a>
            <a class="top-icons ml-2 mt-1" href=""><img src="images/sms-icon.png" alt=""></a>
        </div>

        <div data-paroller-factor="0.7" class="moving-objects move-sth-2"></div>
        <div data-paroller-factor="0.3" class="moving-objects move-sth"></div>

    </div>

    <div class="we-in-instagram d-flex flex-column align-items-center" id="instagram">
        <h3 data-aos="zoom-in-down" class="mt-5 mb-4">Мы в инстаграмм</h3>
        <h4 data-aos="zoom-in-down" class="mb-5">Подпишитесь на нас в <span>Instagram</span></h4>
        <div data-aos="zoom-out-up" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner  h-100">
                <div class="carousel-item w-100 h-100 active">
                    <img class="d-block" src="images/instagram-feedback.png" alt="First slide">
                </div>
                <div class="carousel-item w-100 h-100">
                    <img class="d-block"  src="images/about-us-bg.jpg" alt="First slide">
                </div>
            </div>
            <a class="slide-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <img
                    src="images/slide-prev.png" alt=""></a>
            <a class="slide-next" href="#carouselExampleControls" role="button" data-slide="next"> <img
                    src="images/slide-next.png" alt=""></a>
            <img class="slider-top" src="images/slider-top.png" alt="">
            <img class="slider-bottom" src="images/slider-bottom.png" alt="">
        </div>
        <a data-aos="zoom-out-up" class="call-me d-flex ml-1" href="">
            НАШ ПРОФИЛЬ
        </a>
        <div data-paroller-factor="0.3" class="moving-objects move-sth"></div>
        <div data-paroller-factor="0.7" class="moving-objects move-sth-2"></div>
        <div data-paroller-factor="-0.2" class="moving-objects move-sth-3"></div>
    </div>

    <div class="contact-map d-flex align-items-end" id="contacts">
        <div id="map"></div>
        <div data-aos="zoom-out-up" class="my-marker d-flex flex-column align-items-center">
            <h3 class="text-center">Контакты</h3>
            <p class="text-center">+7 (727) 273–0 <br>
                Алматы, Гоголя, 74
            </p>
            <div class="icons d-flex justify-content-center">
                <a href=""><img src="images/insta-icon.png" alt=""></a>
                <a href=""><img src="images/vk-icon.png" alt=""></a>
                <a href=""><img src="images/wp-icon.png" alt=""></a>
                <a href=""><img src="images/chat-icon.png" alt=""></a>
            </div>
        </div>


        <div data-paroller-factor="-0.2" class="moving-objects move-sth-3"></div>
        <div data-paroller-factor="0.3" class="moving-objects move-sth"></div>
        <div data-paroller-factor="0.7" class="moving-objects move-sth-2"></div>
    </div>
</div>


<div class="mobile-version d-md-none d-block w-100">

    <div class="header-top">
        <header class="align-items-center">
            <span><img src="images/logo.png" alt=""></span>
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
        </header>

        <div class="menu">
            <ul>
                <a href="#main-mobile"><li>ГЛАВНАЯ</li></a>
                <a href="#about-us-mobile"><li>О НАС</li></a>
                <a href="#services-mobile"><li>УСЛУГИ</li></a>
                <a href="#instagram-mobile"><li>INSTAGRAM</li></a>
                <a href="#contacts-mobile"><li>КОНТАКТЫ</li></a>
            </ul>
        </div>
    </div>

    <div id="main-mobile" class="section-main d-flex flex-column align-items-center w-100">
        <div class="text-middle d-flex flex-column  my-3">
            <h4 class="">Студия</h4>
            <p class="d-flex align-items-center text-uppercase mt-2 align-self-end">о которой <br> ты мечтала <img
                    src="images/small-leaf.png" alt=""></p>

        </div>
        <div class="text-bottom">
            <img src="images/main-section-text%20.png" alt="">
        </div>
    </div>
    <div id="about-us-mobile" class="about-us-mobile d-flex flex-column align-items-center w-100 p-4">
        <div class="mt-5 quotes p-2">
            <h3  class="mb-4 text-center">О нас</h3>
            <h4 class="text-white text-uppercase text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</h4>
            <p class="text-white text-center">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            <img class="quote-up" src="images/quote-up.png" alt="">
            <img class="quote-down" src="images/quote-down.png" alt="">
        </div>
        <img class="photo-gallery" src="images/about-us-photos.png" alt="">
    </div>
    <div id="services-mobile" class="services-section py-5">
        <h3 class="mb-5 text-center">Меню услуг</h3>
        <div class="services d-flex justify-content-center my-4">
            <div class="service d-flex flex-column align-items-center  mr-4">
                <img class="mb-3" src="images/pic1.png" alt="">
                <p class="text-white text-center">Маникюр</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic2.png" alt="">
                <p class="text-white text-center">Педикюр</p>
            </div>
        </div>

        <div class="services d-flex justify-content-center  mb-4">
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic3.png" alt="">
                <p class="text-white text-center">Стрижки, укладки,
                    уход</p>
            </div>
            <div class="service arrow-service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic4.png" alt="">
                <p class="text-white text-center">Окрашивание
                    волос</p>
                <img class="arrow-icon" src="images/arrow.png" alt="">
            </div>
        </div>

        <div class="services d-flex justify-content-center  mb-4">
            <div class="service d-flex flex-column align-items-center mr-4">
                <img class="mb-3" src="images/pic5.png" alt="">
                <p class="text-white text-center">Макияж, брови,
                    ресницы</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic6.png" alt="">
                <p class="text-white text-center">Мужской зал</p>
            </div>

        </div>
        <div class="services d-flex justify-content-center mb-4">
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic7.png" alt="">
                <p class="text-white text-center">Детский зал</p>
            </div>
            <div class="service d-flex flex-column align-items-center mr-4 ">
                <img class="mb-3" src="images/pic8.png" alt="">
                <p class="text-white text-center">Депиляция</p>
            </div>
        </div>

        <div  class="online-register d-flex flex-column  mt-5 align-items-center">
            <a class="call-me d-flex" href="">
                Он-лайн запись
            </a>
            <div class="d-flex mt-4">
                <a class="top-icons" href=""><img src="images/whatsapp-icon.png" alt=""></a>
                <a class="top-icons ml-4" href=""><img src="images/sms-icon.png" alt=""></a>
            </div>
        </div>
    </div>
    <div id="instagram-mobile" class="instagram-section-mobile d-flex flex-column align-items-center py-5">
        <h3 class=" text-center mb-4">Мы в инстаграмм</h3>
        <h4 class="mb-5 text-center">Подпишитесь на нас в <span>Instagram</span></h4>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner  h-100">
                <div class="carousel-item w-100 h-100 active">
                    <img class="d-block" src="images/instagram-feedback.png" alt="First slide">
                </div>
                <div class="carousel-item w-100 h-100">
                    <img class="d-block"  src="images/about-us-bg.jpg" alt="First slide">
                </div>
            </div>
            <a class="slide-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <img
                    src="images/slide-prev.png" alt=""></a>
            <a class="slide-next" href="#carouselExampleControls" role="button" data-slide="next"> <img
                    src="images/slide-next.png" alt=""></a>
            <img class="slider-top" src="images/slider-top.png" alt="">
            <img class="slider-bottom" src="images/slider-bottom.png" alt="">
        </div>
        <a class="call-me d-flex mt-5" href="">
            НАШ ПРОФИЛЬ
        </a>
    </div>
    <div id="contacts-mobile" class="contacts-mobile pt-1">
        <h3 class="text-center text-white">Контакты</h3>
        <p class="text-center text-white">+7 (727) 273–0 <br>
            Алматы, Гоголя, 74
        </p>
        <div class="icons d-flex justify-content-center mb-5">
            <a href=""><img src="images/insta-icon.png" alt=""></a>
            <a href=""><img src="images/vk-icon.png" alt=""></a>
            <a href=""><img src="images/wp-icon.png" alt=""></a>
            <a href=""><img src="images/chat-icon.png" alt=""></a>
        </div>
        <div class="bottom-map">
            <img class="w-100" src="https://static-maps.yandex.ru/1.x/?lang=ru-RU&ll=76.939783,43.25937&z=17&l=map,skl&size=600,400" alt="">
            <div  class="my-marker d-flex flex-column align-items-center"></div>
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="JavaScript" type="text/javascript" src="jquery.paroller.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.0/aos.js"></script>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script>
    $(document).ready(function () {

        $("[data-paroller-factor]").paroller();

        AOS.init({
            offset: 200,
            duration: 600,
            easing: 'ease-in-sine',
            delay: 100,
            disable: window.innerWidth < 768
        });

        //Smooth scrolling to A
        $('a[href*="#"]')
        // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                            &&
                            location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                }
                                ;
                            });
                        }
                    }
                });

        var map;

        DG.then(function () {
            map = DG.map('map', {
                center: [43.25937,76.939783],
                zoom: 18
            });
            myIcon = DG.icon({
                iconUrl: 'https://maps.api.2gis.ru/2.0/example_logo.png',
                iconSize: [1, 1]
            });

            DG.marker([43.25937,76.939783], {
                icon: myIcon
            }).addTo(map);
        });


        $( ".cross" ).hide();
        $( ".menu" ).hide();
        $( ".hamburger" ).click(function() {
            $( ".menu" ).slideToggle( "slow", function() {
                $( ".hamburger" ).hide();
                $( ".cross" ).show();
            });
        });

        $( ".cross" ).click(function() {
            $( ".menu" ).slideToggle( "slow", function() {
                $( ".cross" ).hide();
                $( ".hamburger" ).show();
            });
        });
    });


</script>
</body>
</html>
